.array-container {
  /* position: absolute; */
  /* left: 100px; */
  margin-top: 100px;
  /* top: 100px; */
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:center;
}

.array-bar {
  display: inline-block;
  margin: 0 1px;
  position: relative;
  bottom: 0px;
}

.button-container .button{
  /* display: inline-block; */
  margin-top: 20px;
  padding: 20px 25px;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #af4c99;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button-container .button:hover {background-color: #f4d1f8}

.button-container .button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.updateTool {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.updateArrayButton {
  /* display: inline-block; */
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #af4c99;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  border-color: rgb(5, 5, 5);
  
}

.updateArrayButton:hover {background-color: #f4d1f8}

.updateSpeedButton {
  /* display: inline-block; */
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #af4c99;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  border-color: rgb(5, 5, 5);
  
}
.updateSpeedButton:hover {background-color: #f4d1f8}

